.carshow_manufacturer_logo{
  display: block;
  width: auto;
  height: 6.5em;
  float: left;
  margin-right: 1.5em;
}
.carshow_manufacturer_info{
  padding-top: 0.5em;
}
.carshow_content{
  padding: 2em;

  p {
    margin-top: 1em;
  }
}

